.container {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  overflow: auto;
  scrollbar-width: none;
  max-width: 100%;
  background-color: var(--primary-background);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.wrapper {
  display: flex;
}

.navigationList {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 2.5rem;
  margin: 0;
  padding: 0.5rem;
  list-style: none;
}

@media (min-width: 1024px) {
  .container {
    width: 16rem;
    max-height: 100vh;
    overflow: auto;
    box-shadow: none;
    border-radius: 0 0 1rem 1rem;
  }

  .navigationList {
    flex-direction: column;
    align-items: start;
    height: auto;
    gap: 1rem;
    padding: 1.5rem 1rem;
  }
}
