.container {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  overflow: auto;
  scrollbar-width: none;
  max-width: 100%;
  background-color: var(--primary-background);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

@media (min-width: 1024px) {
  .container {
    border-radius: 0 0 1rem 1rem;
  }
}

.wrapper {
  display: flex;
}

.navigationList {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 2.5rem;
  margin: 0;
  padding: 0.5rem;
  list-style: none;
}

.link {
  display: flex;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  background-color: var(--secondary-background);
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.currentLink {
  color: var(--text-color);
  background-color: var(--link-color);
}

.currentLink:hover {
  color: var(--text-color);
}