.container {
  overflow: auto;
  scrollbar-width: none;
  max-width: 100%;
  background-color: var(--primary-background);
}

.wrapper {
  display: flex;
}

.navigationList {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 2.5rem;
  margin: 0;
  padding: 0.5rem;
  list-style: none;
}

.link {
  display: flex;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  background-color: var(--secondary-background);
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.currentLink {
  color: var(--text-color);
  background-color: var(--link-color);
}
