.container {
  display: grid;
  margin: 0;
  padding: 1rem;
  list-style: none;
}

.categoryContainer {
  display: grid;
}

.categoryList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  margin: 0;
  padding: 0;
  list-style: none;
}
