.container {
  display: grid;
  gap: 0.5rem;
}

.categoryTitle {
  margin: 0;
}

.categoryList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.25rem;
  margin: 0;
  padding: 0;
  list-style: none;
}
